body {
background-color: rgb(186, 42, 42);
}

label{font-style: italic;}

h1{font-weight: lighter;}

.txtTitulo{
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    
}
.txtAzul{color: blue; font-weight:bolder;}
.txtVerde{color: green;}
.txtRojo{color: red;}
.txtAmarillo{color: yellow;}
.txtLima{color: yellowgreen;}
