body {
    background-color:lightgray ;
    }

label{
    font-style: italic;
    font-weight: bold;
    }

h1{
    font-weight: lighter;
    }

.txtTitulo{
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    }
.txtAzul{color: blue; font-weight:bolder;}
.txtVerde{color: green;}
.txtRojo{color: red;}
.txtAmarillo{color: yellow;}
.txtLima{color: yellowgreen;}
.txtNegro{color: black; background-color: aqua; font-size: 2rem;}

#posRelative {
    position: relative;
    background-color: blue;
    top: 2px;
    left: 10px;
}