.imgBsAS{

    height:2075.7px;
    width:  721px;
 
}
.subtitulo{
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
    text-align: right;
    background-color: rgb(122, 122, 122);
    
}
.img-responsive{
    width: fit-content;
    height: max-content;

}