*{
    margin: 0;
    font-size: 16px;
}
.oradores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
       
}
.tarjeta{
    width: 300px;
    height: 480px;
    border: 1px solid lightgray ;
    border-radius: 5px;
    margin: .5rem;
}
.tarjeta img{
    width: 300rem;
}
.tarjeta .botones{
    margin: 1rem .5rem .5rem .5rem;
}
.tarjeta .botones input [type=button]{
    padding: .2rem .4rem .2rem .4rem;
    font-size: .6rem;
    font-weight: bold;
    border: 0rem;
    border-radius: 5px;
}
.tarjeta .botones .btnAmarillo{
    background-color: rgb(255, 194,7);
}
.tarjeta .botones .btnAzul{
    background-color: rgb(23, 162,188);
    color: white;
}
.tarjeta .titulo{
    font-size: 1.3rem;
    margin: .2rem .5rem 1rem .5rem;
    font-weight: bold;
}
.tarjeta .texto{
    font-size: .8rem;
    margin: .5rem;
    font-weight: bold;
    text-align: justify;
}